<h1>HELLO GRANDPA</h1>
<p>Welcome home</p>
<form method="GET" action="/houses">
    City:
    <select name="city">
        <option value="Barcelona">Barcelona</option>
        <option value="Madrid">Madrid</option>
    </select>
    <br />
    Month
    <select name="month">
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
    </select>
    <input type="submit" value="Search">
</form>