<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css'
    type='text/css' />

<link rel="stylesheet" href="/stylesheets/index.css">

{{!-- SEARCH  --}}
<div class="row">
    <div class="col s4 m12 l12 ">
        <div class="center-align search-home">
            {{!-- <span class="white-text"> <h3> Find your GrandPa Roomate!</h3></span> --}}
        </div>
    </div>

    <div class="row">
        <div class="col s4 m6 offset-m2 l4 offset-l4 ">
            <div class='sidebar'>
                <div id='map' calss="maps"></div>
                <div class="col l8">
                    <div id='geocoder' class='geocoder'></div>
                </div>
                <div class="col l4">
                    <button class="btn waves-effect waves-light btn-search" name="action">FIND IT!
                        <i class="material-icons right">send</i>
                    </button>

                </div>
            </div>
        </div>

        </form>
    </div>
</div>
</div>
</div>

<div class="portada"><img style="object-fit:cover; z-index:-1" width="100%" height="600" src="/images/portada-3.jpg">
</div>

</div>

{{!-- CONTEENT  --}}
<div class="container center-align boxes-home ">
    <div class="row">
        <div class="col s12 m12 12 ">
            <span class="white-text">
                <h3>Discover your new <span class="teal-text lighten-2"><strong>Grandpa</strong></span> roomate!</h3>
                {{!-- <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. <br> In eum omnes molestie. Sed ad debet scaevola, ne mel.</p></span> --}}
        </div>
        <div class="col s12 m12 l12 ">
            <div class="col s12 m12 l4">
                <div class="card-panel">
                    <span><img src="/images/img/casabusqueda.png" alt=""></span>
                    <h5>Find a Roomate</h5>
                    <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes
                        molestie.</p>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card-panel">
                    <span><img src="/images/img/hombrebusqueda.png" alt=""></span>
                    <h5>View profile</h5>
                    <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes
                        molestie.</p>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card-panel">
                    <span><img src="/images/img/tabletbusqueda.png" alt=""></span>
                    <h5>Book your room</h5>
                    <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes
                        molestie.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/home.js"></script>