<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="home-text">
    Find your GrandPa Roomate!
</div>
<div class="search-wrapper">
    <form method="GET" action="/houses">

        <div class="search-box ">

            <div class="input-field">
                <select name="city">
                    <option value="" disabled selected>Where?</option>
                    {{#each cities}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    </option>
                </select>

            </div>
            <div class="input-field ">
                <select name="month">
                    <option value="" disabled selected>When ?</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                </select>

            </div>
            <div class="button-wrapper"><button class="btn waves-effect waves-light" type="submit" name="action">Buscar
                    <i class="material-icons right">send</i>
                </button></div>

        </div>
    </form>
</div>

<div class="portada"><img style="object-fit:cover; z-index:-1" width="100%" height="100%" src="/images/portada-3.jpg">
</div>