<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{#if infoMessages}}
  <p class="info">{{infoMessages}}</p>
  {{/if}}
  {{#if errorMessages }}
  <p class="error">{{ errorMessages }}</p>
  {{/if }}
  <div>
    <a href="/">Home</a>
    |
    <a href="/login">LogIn</a>
    |
    <a href="/signup">SignUp</a>
    |
    <a href="/houses">House List</a>
    |
    <a href="/houses/5d7a8811ddf3981b8c95b478">House details</a>
    |
    <a href="/houses/create/step-1">House create form</a>
    |
    <a href="/booking">new booking</a>
    |
    <a href="/user">User profile</a>
    |
    <a href="/user/bookings">List user bookings</a>
    |
    <a href="/user/bookings/1234">User booking details</a>
    |
    <a href="/user/bookings/1234/r&r">New Review</a>
    <a href="/logout">Logout</a>
  </div>


  {{{body}}}
</body>

</html>