<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <a href="/">Home</a>
    |
    <a href="/login">LogIn</a>
    |
    <a href="/signup">SignUp</a>
    |
    <a href="/houses">House List</a>
    |
    <a href="/houses/12324">House details</a>
    |
    <a href="/houses/create">House create form</a>
    |
    <a href="/booking">new booking</a>
    |
    <a href="/user">User profile</a>
    |
    <a href="/user/bookings">List user bookings</a>
    |
    <a href="/user/bookings/1234">User booking details</a>
    |
    <a href="/user/bookings/1234/r&r">New Review</a>
  </div>
  {{{body}}}
</body>

</html>