<h1>Login form</h1>
<h1>SIGN UP FORM</h1>
<form id="form" action="/login" method="POST">
  <label for="email">Email</label><br>
  <input type="email" name="email" placeholder="Email adreess">

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="Enter Password">


  <button type="submit">Log in</button>
  <br>
</form>