<h1>Login form</h1>
<h1>SIGN UP FORM</h1>
<form id="form" action="/user/" method="POST">
  <label for="email">Email</label><br>
  <input type="email" name="email" placeholder="Email adreess">

  <label for="password">Password</label><br>
  <input type="password" name="pass" placeholder="Create Password">


  <button type="submit">Create account</button>
  <br>
</form>