<link rel="stylesheet" href="/stylesheets/maplist.css">
<div class="row">

  <div class="col s12 m6 l4">
    <div class='sidebar'>
      <div id='geocoder' class='geocoder'></div>
      <div class=''>
        <h5>Results</h5>
      </div>
      <pre id="json-response" class="txt-xs px12">Search for a place. Your results will be displayed here!
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </pre>
      <div class="col 12 m12 l12 scroll-cards">
        <div id='listings' class='listings'></div>
      </div>
    </div>
  </div>
  <div class="col s12  m6 l8 ">
    <div class="col s12  m12 l12 filter-padding">
      <div class="input-field col s4 m2 l2  ">
        <i class="material-icons prefix">euro_symbol</i>
        <input type="text" name="" id="priceMin">
        <label>Price Min</label>
      </div>
      <div class="input-field col s4 m2 l2">
        <i class="material-icons prefix">euro_symbol</i>
        <input type="text" name="" id="priceMax">
        <label>Price Max</label>
      </div>

      <div class="col s4 m2 l2 filter-padding">
        <button class="btn waves-effect waves-light" id="filter" name="action">FILTER
        </button>
      </div>
    </div>

    <div id='map' calss="maps"></div>
  </div>

</div>

<script src="/js/map_position.js"></script>