<div class="row">

  <div class="col m6 l4">
    <div class='sidebar'>
      <div class='heading'>
        <h1>Our locations</h1>
      </div>
      <div id='listings' class='listings'></div>
    </div>
    <pre id="json-response" class="txt-xs px12">Search for a place. Your results will be displayed here!</pre>
  </div>
  <div class="col m6 l8">

    <div id='map'></div>
    <div id='geocoder' class='geocoder'></div>
  </div>

</div>

<script src="/js/map_position.js"></script>