.container_houses {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid rgba(128, 128, 128, 0.762);
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}