.house_calendar_details {
  border: 1px solid rgba(128, 128, 128, 0.762);
  box-shadow: none;
}

#gallery div {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 0;
}
.border1-black {
  border: 2px solid #000;
}
.border2-black-notup {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}
.card-property {
  border: 1px solid grey;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
  min-width: 100px;
  background-color: #f5f5f5;
}
.mandatory {
  margin-left: 20px !important;
  margin-right: 20px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tex-house {
  font-size: 1.1rem;
}

.mandatory10 {
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 10px;
}
.margin-bottom20 {
  margin-bottom: 20px;
}
.margin-bottom50 {
  margin-bottom: 50px;
}
#price {
  margin-top: 0px !important;
}
