body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height:100%;
}

main {
  flex: 1 0 auto;
}
.home-text{
  position: fixed;
  top: 30%;
  color: white;
  font-size: 40px;
}

.search-wrapper{
  padding: 10px;
  background-color: #fff;

  border: 10px solid rgba(249, 249, 249, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.search-wrapper .search-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 320px;
}
.search-wrapper .button-wrapper{
  text-align: right;
  width:20%;

}

.search-wrapper .input-field{
  width:30%;
  margin:0

}
.container{

  width:100%;
  height:100%;
  
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.brand-logo img {
  width: 100px;
  margin-left: 30px;
  margin-top: 10px;
}

.portada {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 100% !important;
  z-index: -100;
  filter: brightness(30%);
}

.portada_card {
  background-color: #fff;
  text-align: right;
}
.pd10 {
  padding: 10px;
}
.house_list  .title{
  font-size: 20px;
  /* line-height: 50px; */
  font-size: 25px;
  padding: 50px 0;

}
.house_list .card .card-content {
  color: black;
}
.house_list .card .card-content .card-title {
  color: black;
  font-size: 15px;
  line-height: 17px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.house_list .card .card-content .street {
  color: grey;
  line-height: 20px;
}
.house_list .card .card-content .price {
  color: rgb(42, 43, 148);
  line-height: 35px;
  font-size: 18px;
}
.house_list .card .card-content .extra {
  color: grey;
  font-size: 13px
  line-height: 20px;
}
.house_list .card .card-content .services {
  border-top: 1px solid darkgrey;
  margin-top: 10px;
  padding-top: 10px;
}
.error {
  width: 100%;
  height: 50px;
  color: #d8000c;
  background-color: #ffd2d2;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0.1s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1.5;
  animation-delay: 0.1s;
  visibility: hidden;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 5px 5px grey;
  margin: 10px 0px;
  padding: 12px;
}

.info {
  width: 100%;
  height: 50px;
  color: #4f8a10;
  background-color: #dff2bf;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0.1s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: 0.1s;
  visibility: hidden;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 5px 5px grey;
  margin: 10px 0px;
  padding: 12px;
}

@keyframes example {
  0% {
    top: 60px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }
  50% {
    top: 60px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
  99% {
    top: 60px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }
  100% {
    top: 60px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }
}

blockquote {
  border-left: 5px solid #26a69a;
}

.row .col.l6 {
  width: auto;
}
.container .row .col .card {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  box-shadow: none;
  /* border: solid 1px #212121; */
}

.btn{
  box-shadow: none;
}
.modal {
  background-color: #fafafa;
  padding: 0;
  max-height: 80%;
  width: 35%;
  min-width: 320px;
  will-change: top, opacity;
}
.card {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #26a69a;
}

a:hover {
  color: #26a69a;
}

.card-border-grey {
  border: 1px solid rgba(128, 128, 128, 0.762);
}

.middle-indicator{
  position:absolute;
  }
 .middle-indicator-text{
  font-size: 4.2rem;
 }
 a.middle-indicator-text{
   color:white !important;
 }
.content-indicator{
   width: 64px;
   height: 50px;
   background: none;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px; 
 }
   .indicators{
   visibility: hidden;
 }
 .details .carousel.carousel-slider .carousel-fixed-item{
  bottom:auto!important
 }

.border{
  border: 1px solid black;
  padding:10px!important
}
.calendar-year-wrapper{
  width: 65%;
  margin: 0 auto;
}
.details .carousel{
  height: 250px!important;
}
.year-title{
  padding:20px
}
.details .carousel-item{
  min-height: 250px!important
}

.details .carousel .whatever{
  background-color:  green;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.details .carousel .none{
  background-color:  grey;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.details .carousel .checkboxes input[type=checkbox]{
  display: none;
}

.details .carousel .checkboxes input[type=checkbox]:checked + .whatever{
  background-color: red;
}