<div class="container">
  <div class="row">

    <div class="col s12 m4 l3">
      <div class="collection">
        <a href="/houses/create/step-1" class="collection-item">Edit House</a>
        <a href="/houses/create/step-upload" class="collection-item active">House's photo </a>
        <a href="/houses/create/step-2" class="collection-item ">About you house</a>
        <a href="/houses/create/step-3" class="collection-item">Services</a>
      </div>
      <a class="rounded waves-effect waves-light btn teal lighten-3 " href="/houses/{{house.id}}">PREVIEW THE HOUSE</a>
    </div>

    <div class="col s12 m8 l9">
      <h2>PHOTOS OF YOUR HOUSE</h2> <br>
      <h5>SETP 2 OF 4</h5>

      {{!--load images  --}}
      <div class="col s6 m6 l12">
        <form action="/houses/create/delete-images" method="post">
          {{#each house.photos}}
          <div class="col s12 m4 l5">
            <label><input type="checkbox" name="imagesDelete" value="{{ this }}"> <span> <img src="{{ this }}" alt=""
                  width="100%"></span></label>
          </div>

          {{/each}}
          <br>
          <div class="col s12 m12 l2">
            <div class="file-field input-field">
              <button class="btn waves-effect waves-light red" type="submit" name="action">DELETE IMAGES</button>
            </div>
        </form>
      </div>

      {{!--UPLOAD images  --}}
      <div class="col s12 m12 l12">
        <h5>SELECT THE FILE</h5>
        <form action="/houses/create/step-upload" enctype="multipart/form-data" method="post">
          <!-- Field to choose the files to be uploaded -->
          <div class="col s12 m10 l8">
            <!-- Field to choose the files to be uploaded -->
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" name="upload" multiple />
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" name="upload" placeholder="Upload one or more files">
              </div>
            </div>
          </div>
          <!-- button to uploaded -->
          <div class="col s12 m4 l2">
            <div class="file-field input-field"></div>
            <button class="btn waves-effect waves-light" type="submit" name="action">UPLOAD IMAGE</button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>