<h1>HOUSE create form</h1>
<h2>YOUR CONDITIONS - STEP 4 OF 4 </h2>
<form id="form" action="/houses/create/step-3" method="POST">
  <h5>SEVICES MANDATOY OR OPTATIVE</h5>
  <h6>AD</h6>
  <label><input type="checkbox" name="adr" value="true"> <span> ad requeriment</span></label><br>
  <label><input type="checkbox" name="adm" value="true"> <span>ad mantdatory </span></label><br>

  <h6>AB</h6>
  <label><input type="checkbox" name="abr" value="true"> <span> abr requeriment</span></label><br>
  <label><input type="checkbox" name="abm" value="true"> <span>ab mantdatory </span> </label><br>

  <h6>AF</h6>
  <label><input type="checkbox" name="afr" value="true"> <span>af requeriment</span></label><br>
  <label><input type="checkbox" name="afm" value="true"> <span>af mantdatoriy</span></label> <br>

  <h6>AG</h6>
  <label><input type="checkbox" name="agr" value="true"> <span>ag requeriment</span></label><br>
  <label><input type="checkbox" name="agm" value="true"> <span>ag mantdatoriy </span></label><br>

  <h6>AZ</h6>
  <label><input type="checkbox" name="azr" value="true"> <span>az requeriment</span></label><br>
  <label><input type="checkbox" name="azm" value="true"> <span>az mantdatoriy </span></label><br>
  <br>
  <br>
  <label for="restricciones">Restricciones</label><br>
  <textarea rows="5" cols="33" name="restricciones"></textarea><br>

  +<h2>START AVAILABLE </h2>
  <label for="monthStart">Month Start</label><br>
  <select name="month">
    <option>January</option>
    <option>February</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
  </select><br>
  <label for="yearStart">Year Start</label><br>
  <select name="year">
    <option>2009</option>
    <option>2010</option>
    <option>2011</option>
    <option>2012</option>
    <option>2013</option>
    <option>2014</option>
    <option>2015</option>
    <option>2016</option>
    <option>2017</option>
    <option>2018</option>
  </select><br><br>


  <h2>YOUR PRICE</h2>
  <label for="m2">Cost</label>
  <input type="text" name="costpermonth" placeholder="0000" value="">
  <br>
  <p>
    <button type="submit">Save the house</button>
  </p>
</form>