<h1>HOUSE create form</h1>
<h2>TELL US ABOUT YOUR HOUSE STEP 3 OF 4</h2>
<form id="form" action="/houses/create/step-2" method="POST">
  <h5>Number of rooms</h5>
  <label><input type="radio" name="rooms" value="1" checked> <span>1</span> </label><br>
  <label><input type="radio" name="rooms" value="2"> <span>2</span> </label><br>
  <label><input type="radio" name="rooms" value="3"> <span>3</span></label><br>
  <label><input type="radio" name="rooms" value="4"> <span>+4 or more</span></label><br>
  <br>
  <label for="m2">M2</label>
  <input type="text" name="house-m2" placeholder="house-m2" value="">
  <br>
  <label for="description">Description</label><br>
  <textarea rows="5" cols="33" name="description"></textarea><br>

  <h5>features</h5><br>
  <label><input type="checkbox" name="features" value="calfaccion"> <span>Calefaccion</span></label><br>
  <label><input type="checkbox" name="features" value="A/C"> <span>A/C </span></label><br>
  <label><input type="checkbox" name="features" value="Piscina"> <span>Piscina</span> </label><br>
  <label><input type="checkbox" name="features" value="Terraza"> <span>Terraza</span></label> <br>
  <label><input type="checkbox" name="features" value="Ascensor"> <span>Ascensor</span> </label><br>
  <label><input type="checkbox" name="features" value="calfaccion"> <span> WIFI </span></label><br>
  <br>

  <h5>electro</h5>
  <label><input type="checkbox" name="electro" value="nevera"> <span>nevera </span></label><br>
  <label><input type="checkbox" name="electro" value="lavadora"> <span>lavadora </span></label><br>
  <label><input type="checkbox" name="electro" value="cocina"> <span>cocina </span></label><br>
  <label><input type="checkbox" name="electro" value="secadora"> <span>secadora</span></label> <br>
  <label><input type="checkbox" name="electro" value="secador de pelo"> <span>secador de pelo</span></label> <br>
  <label><input type="checkbox" name="electro" value="microondas"> <span>microondas</span></label> <br>
  <label><input type="checkbox" name="electro" value="batidora"> <span> batidora </span></label><br>
  <label><input type="checkbox" name="electro" value="aspiradora"> <span>aspiradora</span></label> <br>
  <label><input type="checkbox" name="electro" value="tostadora"> <span>tostadora </span></label><br>
  <br>

  <h5>Services Included</h5>
  <label><input type="checkbox" name="sevicesincluded" value="Agua"> <span>Agua</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="agua caliene"> <span>agua caliene</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="Electricidad"> <span>Electricidad</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="Internet"> <span>Internet</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="Utensilios baño"> <span>Utensilios baño </span></label>
  <br>
  <label><input type="checkbox" name="sevicesincluded" value="desayuno"> <span>desayuno</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="cenas"> <span>cenas</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="Utensilios cocina"> <span>Utensilios cocina</span></label>
  <br>
  <label><input type="checkbox" name="sevicesincluded" value="Cama"> <span>Cama</span></label> <br>

  <br>
  <h5> && THE ROOM</h5>
  <label for="roomm2">M2 Room</label>
  <input type="text" name="room-m2" placeholder="000" value="">
  <br>
  <label for="wardrobes">wardrobes</label><br>
  <label><input type="radio" name="wardrobes" value="uno"> <span>uno</span></label><br>
  <label><input type="radio" name="wardrobes" value="dos"> <span>dos</span></label><br><br>
  <label>window</label><br>
  <label><input type="radio" name="window" value="uno"> <span>uno</span></label><br>
  <label><input type="radio" name="window" value="dos"> <span>dos</span></label><br><br>
  <label>wc</label><br>
  <label><input type="radio" name="wc" value="private bathroom"> <span>private bathroom</span></label><br>
  <label><input type="radio" name="wc" value="share bathroom"> <span>share bathroom</span></label><br><br>

  <label><input type="checkbox" name="balcony" value="true"> <span>have a balcony</span></label><br>
  <label><input type="checkbox" name="heat" value="true"> <span>have a heat</span></label><br>
  <label><input type="checkbox" name="ac" value="true"> <span>have a ac</span></label><br>
  <label><input type="checkbox" name="tv" value="true"> <span>have a tv</span></label><br>
  <label><input type="checkbox" name="table" value="true"> <span>have a tabe</span></label><br>
  <label><input type="checkbox" name="chair" value="true"> <span>have a chair</span></label><br>
  <label for="othersThings">Others Things</label><br>
  <textarea rows="5" cols="33" name="othersThings"></textarea><br>
  <br>
  <label for="m2">Cost</label>
  <input type="text" name="costpermonth" placeholder="0000" value="">
  <br>
  <p>
    <button type="submit">Save the house GO TO THE STEP 4</button>
  </p>
</form>