<h1>HOUSE create form</h1>
<h2>TELL US ABOUT YOUR HOUSE</h2>
<h5 id="form" action="/houses" method="POST">
  <h5>Number of rooms</h5>
  <label><input type="radio" name="rooms" value="1" checked> <span>1</span> </label><br>
  <label><input type="radio" name="rooms" value="2"> <span>2</span> </label><br>
  <label><input type="radio" name="rooms" value="3"> <span>3</span></label><br>
  <label><input type="radio" name="rooms" value="4"> <span>+4 or more</span></label><br>
  <br>
  <label for="m2">M2</label>
  <input type="text" name="house-m2" placeholder="house-m2" value="">
  <br>
  <label for="description">Description</label><br>
  <textarea rows="5" cols="33" name="description"></textarea><br>
  <h5>ADDRESS</h5>
  <label for="street">Street</label>
  <input type="text" name="street" placeholder=" Name of street " value=""><br>
  <label for="city">City</label>
  <input type="text" name="city" placeholder="Name of city" value=""><br>
  <label for="state">state</label>
  <input type="text" name="state" placeholder="Name of state" value=""><br>
  <label for="country">country</label>
  <input type="text" name="country" placeholder="Name of Country" value=""><br>
  <label for="zip">Zip Code</label>
  <input type="text" name="zip" placeholder="00000" value=""><br>

  <h5>features</h5><br>
  <label><input type="checkbox" name="features" value="calfaccion"> <span>Calefaccion</span></label><br>
  <label><input type="checkbox" name="features" value="A/C"> <span>A/C </span></label><br>
  <label><input type="checkbox" name="features" value="Piscina"> <span>Piscina</span> </label><br>
  <label><input type="checkbox" name="features" value="Terraza"> <span>Terraza</span></label> <br>
  <label><input type="checkbox" name="features" value="Ascensor"> <span>Ascensor</span> </label><br>
  <label><input type="checkbox" name="features" value="calfaccion"> <span> WIFI </span></label><br>
  <br>

  <h5>electro</h5>
  <label><input type="checkbox" name="electro" value="nevera"> <span>nevera </span></label><br>
  <label><input type="checkbox" name="electro" value="lavadora"> <span>lavadora </span></label><br>
  <label><input type="checkbox" name="electro" value="cocina"> <span>cocina </span></label><br>
  <label><input type="checkbox" name="electro" value="secadora"> <span>secadora</span></label> <br>
  <label><input type="checkbox" name="electro" value="secador de pelo"> <span>secador de pelo</span></label> <br>
  <label><input type="checkbox" name="electro" value="microondas"> <span>microondas</span></label> <br>
  <label><input type="checkbox" name="electro" value="batidora"> <span> batidora </span></label><br>
  <label><input type="checkbox" name="electro" value="aspiradora"> <span>aspiradora</span></label> <br>
  <label><input type="checkbox" name="electro" value="tostadora"> <span>tostadora </span></label><br>
  <br>

  <h5>Services Included</h5>
  <label><input type="checkbox" name="sevicesincluded" value="Agua"> <span>Agua</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="agua caliene"> <span>agua caliene</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="Electricidad"> <span>Electricidad</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="Internet"> <span>Internet</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="Utensilios baño"> <span>Utensilios baño </span></label>
  <br>
  <label><input type="checkbox" name="sevicesincluded" value="desayuno"> <span>desayuno</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="cenas"> <span>cenas</span></label> <br>
  <label><input type="checkbox" name="sevicesincluded" value="Utensilios cocina"> <span>Utensilios cocina</span></label>
  <br>
  <label><input type="checkbox" name="sevicesincluded" value="Cama"> <span>Cama</span></label> <br>

  <br>

  <h5>Services for the Grandpa</h5>
  <h6>AD</h6>
  <label><input type="checkbox" name="adr" value="true"> <span> ad requeriment</span></label><br>
  <label><input type="checkbox" name="adm" value="true"> <span>ad mantdatory </span></label><br>

  <h6>AB</h6>
  <label><input type="checkbox" name="abr" value="true"> <span> abr requeriment</span></label><br>
  <label><input type="checkbox" name="abm" value="true"> <span>ab mantdatory </span> </label><br>

  <h6>AF</h6>
  <label><input type="checkbox" name="afr" value="true"> <span>af requeriment</span></label><br>
  <label><input type="checkbox" name="afm" value="true"> <span>af mantdatoriy</span></label> <br>

  <h6>AG</h6>
  <label><input type="checkbox" name="agr" value="true"> <span>ag requeriment</span></label><br>
  <label><input type="checkbox" name="agm" value="true"> <span>ag mantdatoriy </span></label><br>

  <h6>AZ</h6>
  <label><input type="checkbox" name="azr" value="true"> <span>az requeriment</span></label><br>
  <label><input type="checkbox" name="azm" value="true"> <span>az mantdatoriy </span></label><br>
  <br>
  <br>
  <label for="restricciones">Restricciones</label><br>
  <textarea rows="5" cols="33" name="restricciones"></textarea><br>

  <h5>ROOM</h5>
  <h6>AG</h6><br>
  <label for="roomm2">M2 Room</label>
  <input type="text" name="room-m2" placeholder="000" value="">
  <br>
  <label for="wardrobes">wardrobes</label><br>
  <label><input type="radio" name="wardrobes" value="uno"> <span>uno</span></label><br>
  <label><input type="radio" name="wardrobes" value="dos"> <span>dos</span></label><br><br>
  <label>window</label><br>
  <label><input type="radio" name="window" value="uno"> <span>uno</span></label><br>
  <label><input type="radio" name="window" value="dos"> <span>dos</span></label><br><br>
  <label>wc</label><br>
  <label><input type="radio" name="wc" value="private bathroom"> <span>private bathroom</span></label><br>
  <label><input type="radio" name="wc" value="share bathroom"> <span>share bathroom</span></label><br><br>

  <label><input type="checkbox" name="balcony" value="true"> <span>have a balcony</span></label><br>
  <label><input type="checkbox" name="heat" value="true"> <span>have a heat</span></label><br>
  <label><input type="checkbox" name="ac" value="true"> <span>have a ac</span></label><br>
  <label><input type="checkbox" name="tv" value="true"> <span>have a tv</span></label><br>
  <label><input type="checkbox" name="table" value="true"> <span>have a tabe</span></label><br>
  <label><input type="checkbox" name="chair" value="true"> <span>have a chair</span></label><br>
  <label for="othersThings">Others Things</label><br>
  <textarea rows="5" cols="33" name="othersThings"></textarea><br>
  <br>
  <label for="m2">Cost</label>
  <input type="text" name="costpermonth" placeholder="0000" value="">
  <br>
  <p>
    <button type="submit">Save the house</button>
  </p>
</h5>